/*Colors*/
$page-background: #ffffff;
$header-border-bottom: #ececec;
$page-service-background: #2f303a;
$page-employers-background: #f5f4fa;
$page-info-background: #2f303a;
$main-page-color: #212121;
$logo-web: #2196f3;
$logo-studio: #000000;
$navigation-items: #212121;
$navigation-items-hover: #2196f3;
$studio-info: #757575;
$main-page-color: #212121;
$btn-items-color-hf: #ffffff;
$service-btn-background-hf: #188ce8;
$btn-items-background-hf: #2196f3;
$assortment-description: #757575;
$info-items: rgba(255, 255, 255, 0.6);
$info-map: #ffffff;
$card-border-color: #eeeeee;
$filler-icon: #afb1b8;
$service-title: #ffffff;
$service-btn-background: #2196f3;
$page-title-color: #757575;
$icon-svg-color: #757575;
$filler-icon: #afb1b8;
$decoration-web: #2196f3;

/*Font*/
$font-body: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
